 .u-section-1 {
  background-image: linear-gradient(white, #8192a3);
}

.u-section-1 .u-sheet-1 {
  min-height: 304px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-align: start;
  width: 638px;
  margin: 92px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 67px;
  min-height: 16px;
  width: 298px;
  min-width: 94px;
  text-align: start;
  margin: 14px auto 55px;
}

.u-section-1 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(255, 69, 0) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 41px;
    margin-right: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 1px;
    margin-left: 10px;
  }
}